* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

h2 {
    margin: 5% 0;
    color: $main-color;

    @include sm {
        font-size: 1em;
    }
}