@mixin inf{
    display: flex;
    justify-content: space-between;
    color: lightgrey;
    div{
        display: flex;
        align-items: center;
    }
}
@mixin wigth_height{
    width: 100%;
    height: 100%;
}

@mixin flex_between{
    display: flex;
    justify-content: space-between;
}

@mixin button{
    background-color: $main-color;
    font-size: 1.5em;
    border-radius: 50px;
}

@mixin container{
    width: 86%;
    margin: 0 auto;
    @include flex_between;
    &__block{
        width: 30%;
        .img{
            img{
                width: 100%;
            }
        }
        h2{
            padding: 3% 0 ;
            color: $main-color;
        }
        .info{
            @include flex_between;
            .img_bookmark{
                position: relative;
                top: -15px;
                right: 25px;
                background: url("../images/UI/bookmark_big.svg");
                width: 23px;
                height: 29px;
                &:hover{
                    background: url("../images/UI/bookmark_active.svg");
                    width: 26px;
                    height: 31px; 
                }
            }
        }
        p{
            font-size: 1.2em;
            font-weight: bold;
            width: 74%;
        }
    }
}

@mixin text{
    border: 2px solid black;
    background: $white;
    position: relative;
    .text__info{
        @include flex_between;
        padding: 4%;
        width: 39%;
    }
    p{
        padding: 4%;
        font-size: 3em;
    }
    .text__tools{
        @include flex_between;
        width: 91%;
        margin: 0 auto;


        .btn{
            @include button;
            padding: 1% 3%;
            margin: 5% 0;
        }
        .img_bookmark{
            position: absolute;
            bottom: -18px;
            background: url("../images/UI/bookmark_big.svg");
            width: 23px;
            height: 29px;
            
            &:hover{
                background: url("../images/UI/bookmark_active.svg");
                width: 26px;
                height: 31px; 
            }
        }
        
    }
}

@mixin img_right{
    .img_bookmark{
       right: 20px; 
    }
}

@mixin wrapper{
    display: flex;
    padding: 7%;
    .photo{
        width: 50%;
        border-bottom: 3px solid red;
        img{
            @include  wigth_height;
        }
    }
    .content-block{
        width: 42%;
        display: flex;
        flex-direction: column;
        &__title{
            align-self: flex-end;
            color: $main-color;
        }
        .text{
            @include text;
            p{
                width: 125%;
                font-weight: bold;
            }
        }
    }
}


@mixin img{
    background: url("../images/UI/bookmark_big.svg");
    width: 23px;
    height: 29px;
    &:hover{
        background: url("../images/UI/bookmark_active.svg");
        width: 26px;
        height: 31px;
    }
}
    
