// @import url(../builds/fonts/Lora-Bold.ttf);


$font-main: Lora-Bold;

$main-color: rgb(252, 214, 0);
$black: rgb(0,0,0);
$white: rgb(255, 255, 255);
$red: rgb(245, 0, 0);
$grey: #f1edec;

$small: screen and (min width: 600px);
$medium: screen and (min width: 900px);
$large: screen and (min width: 1200px);

