.six{
    @include sm{
        margin: 33% 0;
    }
    .wrapper{
        @include wrapper;
        direction: rtl;
        .content-block{
            .text{
                margin: 0 -7% -4% 0;
                @include sm{
                    margin: 0;
                }
                &__info{
                    direction: ltr;
                }
                &__tools{
                    .img_bookmark{
                        left: 20px;
                    }
                }
            }
        }
    }
}