.one {
    background: url('../images/common/bearBears.jpg') no-repeat;
    background-size: cover;
    background-position-y: 50%;
    height: 60vh;

    @include sm {
        margin-bottom: 27%;
    }

    .wrapper {
        @include wigth_height;
        background-color: rgba($color: #000000, $alpha: .4);
        display: flex;
        align-items: center;
        position: relative;

        .content {
            margin-left: 7%;

            @include sm {
                position: absolute;
                top: 41%;
            }

            p {
                width: 61%;
                font-size: 4em;
                color: $white;
                @include font-face;

                @include sm {
                    width: 79%;
                    font-size: 1.5em;
                }
            }

            &__info {
                @include inf;
                width: 22%;
                color: lightgrey;
                margin: 2% 0;

                @include sm {
                    width: 57%;
                    margin: 7% 0;
                }
            }

            &__tools {
                display: flex;
                width: 52%;

                @include sm {
                    width: 100%;
                }

                .btn {
                    @include button;
                    margin-right: 5%;
                }

                .img_bookmark {
                    @include img;
                }
            }
        }
    }

}