* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

img {
  max-width: 100%; }

header {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-between; }

.header__logo {
  flex-basis: 8%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #f1edec; }
  .header__logo img {
    width: 85%; }

.header__menu {
  flex-basis: 87%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 2px solid #f1edec;
  border-left: 2px solid #f1edec; }
  .header__menu select {
    width: 6%;
    height: 28px;
    margin-left: 15px;
    background-color: #fcd600;
    font-weight: bold;
    border: none;
    border-radius: 50px; }
  .header__menu ul {
    width: 28%;
    display: flex;
    justify-content: space-around;
    font-weight: bold; }

.header__tools {
  flex-basis: 5%;
  display: flex;
  justify-content: space-around; }

.header__leftMenu {
  width: 23px;
  height: 94vh;
  background-color: white;
  position: fixed;
  top: 6%;
  border-right: 1px solid #f1edec;
  padding: 1%; }

.one {
  background: url("../images/common/bearBears.jpg") no-repeat;
  background-size: cover;
  background-position-y: 50%;
  height: 60vh; }
  .one .wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center; }
    .one .wrapper .content {
      margin-left: 7%; }
      .one .wrapper .content h2 {
        color: #fcd600; }
      .one .wrapper .content p {
        width: 61%;
        font-size: 4em;
        color: white; }
      .one .wrapper .content__info {
        display: flex;
        justify-content: space-between;
        color: lightgrey;
        width: 22%;
        margin: 2% 0; }
        .one .wrapper .content__info div {
          display: flex;
          align-items: center; }
      .one .wrapper .content__tools {
        display: flex;
        justify-content: space-between;
        width: 15%; }
        .one .wrapper .content__tools div {
          background-color: #fcd600;
          font-size: 1.5em;
          border-radius: 50px;
          padding: 4% 14%; }

.two .wrapper {
  display: flex;
  padding: 7%; }
  .two .wrapper .img {
    width: 50%;
    border-bottom: 3px solid red; }
    .two .wrapper .img img {
      width: 100%;
      height: 100%; }
  .two .wrapper .content-block {
    width: 42%;
    display: flex;
    flex-direction: column; }
    .two .wrapper .content-block__title {
      align-self: flex-end;
      color: #fcd600; }
    .two .wrapper .content-block .text {
      border: 2px solid black;
      background: white;
      height: 100%; }
      .two .wrapper .content-block .text .text__info {
        display: flex;
        justify-content: space-between;
        padding: 4%;
        width: 39%; }
      .two .wrapper .content-block .text p {
        padding: 4%;
        font-size: 3.2em; }
      .two .wrapper .content-block .text .text__tools {
        display: flex;
        justify-content: space-between;
        width: 91%;
        margin: 0 auto; }
        .two .wrapper .content-block .text .text__tools div {
          background-color: #fcd600;
          font-size: 1.5em;
          border-radius: 50px;
          padding: 1% 3%; }
        .two .wrapper .content-block .text .text__tools img {
          position: relative;
          bottom: -92px; }
      .two .wrapper .content-block .text p {
        width: 125%;
        font-weight: bold; }
  .two .wrapper .content-block .text {
    margin: 0 0 -4% -7%; }

.container {
  width: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  .container__block {
    width: 30%; }
    .container__block h2 {
      padding: 3% 0;
      color: #fcd600; }
    .container__block .info {
      display: flex;
      justify-content: space-between; }
      .container__block .info .bookmark {
        position: relative;
        top: -15px;
        right: 25px; }
    .container__block p {
      font-size: 1.6em;
      font-weight: bold;
      width: 74%; }

.four {
  width: 86%;
  margin: 0 auto; }
  .four__title {
    color: #fcd600;
    margin: 5% 0; }
  .four__wrapper {
    background: url("../images/common/cute-brain-cartoon2.jpeg");
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position-y: 50%; }
    .four__wrapper .text {
      margin-left: 4%;
      width: 61%;
      height: 59%;
      border: 2px solid black;
      background: white; }
      .four__wrapper .text .text__info {
        display: flex;
        justify-content: space-between;
        padding: 4%;
        width: 39%; }
      .four__wrapper .text p {
        padding: 4%;
        font-size: 3.2em; }
      .four__wrapper .text .text__tools {
        display: flex;
        justify-content: space-between;
        width: 91%;
        margin: 0 auto; }
        .four__wrapper .text .text__tools div {
          background-color: #fcd600;
          font-size: 1.5em;
          border-radius: 50px;
          padding: 1% 3%; }
        .four__wrapper .text .text__tools img {
          position: relative;
          bottom: -92px; }
      .four__wrapper .text p {
        width: 65%; }

.five {
  background-color: #f1edec;
  margin: 2% 0; }
  .five .container {
    width: 86%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .five .container__block {
      width: 30%; }
      .five .container__block h2 {
        padding: 3% 0;
        color: #fcd600; }
      .five .container__block .info {
        display: flex;
        justify-content: space-between; }
        .five .container__block .info .bookmark {
          position: relative;
          top: -15px;
          right: 25px; }
      .five .container__block p {
        font-size: 1.6em;
        font-weight: bold;
        width: 74%; }

.six .wrapper {
  display: flex;
  padding: 7%;
  direction: rtl; }
  .six .wrapper .img {
    width: 50%;
    border-bottom: 3px solid red; }
    .six .wrapper .img img {
      width: 100%;
      height: 100%; }
  .six .wrapper .content-block {
    width: 42%;
    display: flex;
    flex-direction: column; }
    .six .wrapper .content-block__title {
      align-self: flex-end;
      color: #fcd600; }
    .six .wrapper .content-block .text {
      border: 2px solid black;
      background: white;
      height: 100%; }
      .six .wrapper .content-block .text .text__info {
        display: flex;
        justify-content: space-between;
        padding: 4%;
        width: 39%; }
      .six .wrapper .content-block .text p {
        padding: 4%;
        font-size: 3.2em; }
      .six .wrapper .content-block .text .text__tools {
        display: flex;
        justify-content: space-between;
        width: 91%;
        margin: 0 auto; }
        .six .wrapper .content-block .text .text__tools div {
          background-color: #fcd600;
          font-size: 1.5em;
          border-radius: 50px;
          padding: 1% 3%; }
        .six .wrapper .content-block .text .text__tools img {
          position: relative;
          bottom: -92px; }
      .six .wrapper .content-block .text p {
        width: 125%;
        font-weight: bold; }
  .six .wrapper .content-block .text {
    margin: 0 -7% -4% 0; }
    .six .wrapper .content-block .text__info {
      direction: ltr; }
