* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

img {
  max-width: 100%; }

header {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-between; }

.header__logo {
  flex-basis: 8%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #f1edec; }
  .header__logo img {
    width: 85%; }

.header__menu {
  flex-basis: 87%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 2px solid #f1edec;
  border-left: 2px solid #f1edec; }
  .header__menu select {
    width: 6%;
    height: 28px;
    margin-left: 15px;
    background-color: #fcd600;
    font-weight: bold;
    border: none;
    border-radius: 50px; }
  .header__menu ul {
    width: 28%;
    display: flex;
    justify-content: space-around;
    font-weight: bold; }

.header__tools {
  flex-basis: 5%;
  display: flex;
  justify-content: space-around; }

.header__leftMenu {
  width: 23px;
  height: 94vh;
  background-color: white;
  position: fixed;
  top: 6%;
  border-right: 1px solid #f1edec;
  padding: 1%; }

article {
  background: url("../images/common/bearBears.jpg") no-repeat;
  background-size: cover;
  background-position-y: 50%;
  height: 60vh; }
  article .wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center; }
    article .wrapper .content {
      margin-left: 7%; }
      article .wrapper .content h2 {
        color: #fcd600; }
      article .wrapper .content p {
        width: 61%;
        font-size: 4em;
        color: white; }
      article .wrapper .content__info {
        display: flex;
        justify-content: space-between;
        color: lightgrey;
        width: 22%;
        margin: 2% 0; }
        article .wrapper .content__info div {
          display: flex;
          align-items: center; }
      article .wrapper .content__tools {
        display: flex;
        justify-content: space-between;
        width: 15%; }
        article .wrapper .content__tools div {
          background-color: #fcd600;
          font-size: 1.5em;
          padding: 4% 14%;
          border-radius: 50px; }
