@font-face {
  font-family: "Lora-Bold";
  src: url("../fonts/Lora-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style: none; }

img {
  max-width: 100%; }

h2 {
  margin: 5% 0;
  color: #fcd600; }
  @media screen and (max-width: 600px) {
    h2 {
      font-size: 1em; } }

header {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 600px) {
    header {
      background-color: #eb3737;
      height: 13vh;
      align-items: center;
      flex-wrap: wrap; } }

.burder_mobile {
  display: none; }
  @media screen and (max-width: 600px) {
    .burder_mobile {
      display: block;
      margin: 2%; } }

.header__logo {
  flex-basis: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-bottom: 1px solid #f1edec;
  z-index: 2; }
  @media screen and (max-width: 600px) {
    .header__logo {
      flex-basis: 35%;
      border: none;
      color: white;
      background: inherit; } }
  .header__logo img {
    width: 85%; }

.header__menu {
  flex-basis: 87%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  border-right: 2px solid #f1edec;
  border-left: 2px solid #f1edec; }
  @media screen and (max-width: 600px) {
    .header__menu {
      border: none;
      flex-basis: 100%;
      order: 4; } }
  .header__menu .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 6%;
    padding: 8px;
    margin: 0 2%;
    background-color: #fcd600;
    border-radius: 50px; }
    @media screen and (max-width: 600px) {
      .header__menu .option {
        width: 100%;
        background-color: inherit;
        color: white; } }
    .header__menu .option .figure {
      width: 10px;
      height: 10px;
      border-right: 2px solid black;
      border-bottom: 2px solid black;
      transform: rotate(45deg); }
      @media screen and (max-width: 600px) {
        .header__menu .option .figure {
          display: none; } }
    @media screen and (max-width: 600px) {
      .header__menu .option div {
        display: flex;
        justify-content: space-between;
        width: 100%; } }
    .header__menu .option div .hover {
      display: none; }
      @media screen and (max-width: 600px) {
        .header__menu .option div .hover {
          display: block; } }
  .header__menu ul {
    width: 28%;
    display: flex;
    justify-content: space-around;
    font-weight: bold; }
    @media screen and (max-width: 600px) {
      .header__menu ul {
        display: none; } }

.header__tools {
  flex-basis: 5%;
  display: flex;
  justify-content: space-around; }
  @media screen and (max-width: 600px) {
    .header__tools {
      order: 3;
      flex-basis: 10%; } }
  @media screen and (max-width: 600px) {
    .header__tools .hide {
      display: none; } }

.header__leftMenu {
  height: 100vh;
  width: 100%;
  position: fixed;
  border-right: 1px solid #f1edec;
  z-index: 1;
  pointer-events: none; }
  .header__leftMenu .wrapper_leftBurger {
    width: 5%;
    height: 100%;
    background: white;
    pointer-events: all;
    border-right: 1px solid #f1edec; }
    .header__leftMenu .wrapper_leftBurger .left_burger {
      position: absolute;
      top: 8%;
      left: 1%;
      background: url("../images/UI/burger.svg");
      width: 23px;
      height: 19px;
      cursor: pointer; }
  .header__leftMenu .left_option {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 3%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    transition: all .5s ease-in-out; }
    .header__leftMenu .left_option ul {
      width: 15%;
      transform: translateX(-107%);
      height: 100%;
      background: white;
      padding: 6%;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform .5s ease-in-out; }
      .header__leftMenu .left_option ul li {
        font-size: 1.6em;
        width: 100%;
        margin: 9% 0;
        position: relative;
        transition: all .5s ease-in;
        cursor: pointer; }
        .header__leftMenu .left_option ul li span {
          display: inline-block;
          position: absolute;
          top: 40%;
          left: -19%;
          width: 0px;
          height: 5px;
          background: #e24646;
          transition: all .2s ease-in; }
        .header__leftMenu .left_option ul li .active {
          width: 40px;
          background: #fcd600; }
        .header__leftMenu .left_option ul li:hover span {
          width: 40px; }
  .header__leftMenu input[type=checkbox] {
    display: none; }
  .header__leftMenu input[type=checkbox]:checked ~ .wrapper_leftBurger .left_burger {
    background: url("../images/UI/close.svg");
    width: 19px; }
  .header__leftMenu input[type=checkbox]:checked ~ .left_option {
    opacity: 1;
    pointer-events: all; }
    .header__leftMenu input[type=checkbox]:checked ~ .left_option ul {
      transform: translateX(0); }
  @media screen and (max-width: 600px) {
    .header__leftMenu {
      display: none; } }

.one {
  background: url("../images/common/bearBears.jpg") no-repeat;
  background-size: cover;
  background-position-y: 50%;
  height: 60vh; }
  @media screen and (max-width: 600px) {
    .one {
      margin-bottom: 27%; } }
  .one .wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    position: relative; }
    .one .wrapper .content {
      margin-left: 7%; }
      @media screen and (max-width: 600px) {
        .one .wrapper .content {
          position: absolute;
          top: 42%; } }
      .one .wrapper .content p {
        width: 61%;
        font-size: 4em;
        color: white;
        font-family: "Lora-Bold"; }
        @media screen and (max-width: 600px) {
          .one .wrapper .content p {
            width: 79%;
            font-size: 1.5em; } }
      .one .wrapper .content__info {
        display: flex;
        justify-content: space-between;
        width: 22%;
        color: lightgrey;
        margin: 2% 0; }
        .one .wrapper .content__info div {
          display: flex;
          align-items: center; }
        @media screen and (max-width: 600px) {
          .one .wrapper .content__info {
            width: 57%;
            margin: 7% 0; } }
      .one .wrapper .content__tools {
        display: flex;
        width: 52%; }
        @media screen and (max-width: 600px) {
          .one .wrapper .content__tools {
            width: 100%; } }
        .one .wrapper .content__tools .btn {
          background-color: #fcd600;
          width: 20%;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5em;
          border-radius: 50px;
          cursor: pointer;
          margin-right: 5%; }
          @media screen and (max-width: 600px) {
            .one .wrapper .content__tools .btn {
              font-size: 1em;
              width: 25%;
              height: 28px; } }
        .one .wrapper .content__tools .img_bookmark {
          background: url("../images/UI/bookmark_big.svg");
          width: 23px;
          height: 29px;
          background-size: cover; }
          .one .wrapper .content__tools .img_bookmark:hover {
            background: url("../images/UI/bookmark_active.svg");
            width: 23px;
            height: 29px;
            background-size: cover; }

@media screen and (max-width: 600px) {
  .two {
    margin-bottom: 23%; } }

.two .wrapper {
  display: flex;
  padding: 7%; }
  @media screen and (max-width: 600px) {
    .two .wrapper {
      flex-direction: column;
      padding: 0; } }
  .two .wrapper .photo {
    width: 50%;
    border-bottom: 3px solid red; }
    @media screen and (max-width: 600px) {
      .two .wrapper .photo {
        width: 100%; } }
    .two .wrapper .photo img {
      width: 100%;
      height: 100%; }
  .two .wrapper .content-block {
    width: 42%;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 600px) {
      .two .wrapper .content-block {
        width: 90%;
        position: relative;
        margin: -9% auto; } }
    .two .wrapper .content-block__title {
      align-self: flex-end;
      color: #fcd600; }
      @media screen and (max-width: 600px) {
        .two .wrapper .content-block__title {
          position: absolute;
          top: -90%;
          left: 0; } }
    .two .wrapper .content-block .text {
      border: 2px solid black;
      background: white;
      position: relative; }
      .two .wrapper .content-block .text__info {
        display: flex;
        justify-content: space-between;
        width: 44%;
        margin: 2% 4%; }
        .two .wrapper .content-block .text__info div {
          display: flex;
          align-items: center; }
        @media screen and (max-width: 600px) {
          .two .wrapper .content-block .text__info {
            width: 57%;
            margin: 7% 0; } }
      .two .wrapper .content-block .text p {
        padding: 4%;
        font-size: 3em;
        width: 125%;
        font-weight: bold;
        font-family: "Lora-Bold"; }
        @media screen and (max-width: 600px) {
          .two .wrapper .content-block .text p {
            font-size: 1.1em;
            width: 96%; } }
      .two .wrapper .content-block .text .text__tools {
        display: flex;
        justify-content: space-between;
        width: 91%;
        margin: 0 auto; }
        .two .wrapper .content-block .text .text__tools .btn {
          background-color: #fcd600;
          width: 20%;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5em;
          border-radius: 50px;
          cursor: pointer;
          margin: 5% 0; }
          @media screen and (max-width: 600px) {
            .two .wrapper .content-block .text .text__tools .btn {
              font-size: 1em;
              width: 25%;
              height: 28px; } }
        .two .wrapper .content-block .text .text__tools .img_bookmark {
          position: absolute;
          bottom: -18px;
          background: url("../images/UI/bookmark_big.svg");
          width: 23px;
          height: 29px;
          background-size: cover;
          cursor: pointer; }
          .two .wrapper .content-block .text .text__tools .img_bookmark:hover {
            background: url("../images/UI/bookmark_active.svg");
            width: 23px;
            height: 29px;
            background-size: cover; }
      @media screen and (max-width: 600px) {
        .two .wrapper .content-block .text {
          margin: 0; } }
  .two .wrapper .content-block .text {
    margin: 0 0 -4% -7%; }
    @media screen and (max-width: 600px) {
      .two .wrapper .content-block .text {
        margin: 0; } }
    .two .wrapper .content-block .text__tools .img_bookmark {
      right: 20px; }

.container {
  width: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 600px) {
    .container {
      flex-wrap: wrap; } }
  .container__block {
    width: 30%; }
    @media screen and (max-width: 600px) {
      .container__block {
        width: 100%; } }
    .container__block .img img {
      width: 100%; }
    .container__block .info {
      display: flex;
      justify-content: space-between;
      margin: 4% 0; }
      .container__block .info div {
        display: flex;
        align-items: center; }
      .container__block .info .img_bookmark {
        position: relative;
        top: -34px;
        right: 25px;
        background: url("../images/UI/bookmark_big.svg");
        width: 23px;
        height: 29px;
        cursor: pointer;
        background-size: cover; }
        @media screen and (max-width: 600px) {
          .container__block .info .img_bookmark {
            top: -27px;
            right: 25px;
            width: 23px;
            height: 29px; } }
        .container__block .info .img_bookmark:hover {
          background: url("../images/UI/bookmark_active.svg");
          width: 23px;
          height: 29px;
          background-size: cover; }
    .container__block p {
      font-size: 1.6em;
      font-weight: bold;
      width: 74%;
      font-family: "Lora-Bold"; }
      @media screen and (max-width: 600px) {
        .container__block p {
          width: 87%;
          font-size: 1.2em; } }

.four {
  width: 86%;
  margin: 0 auto; }
  .four__title {
    color: #fcd600;
    margin: 5% 0; }
  .four__wrapper {
    background: url("../images/common/cute-brain-cartoon2.jpeg");
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position-y: 50%; }
    @media screen and (max-width: 600px) {
      .four__wrapper {
        height: 55vh; } }
    .four__wrapper .text {
      margin-left: 4%;
      width: 47%;
      border: 2px solid black;
      background: white;
      position: relative; }
      .four__wrapper .text__info {
        display: flex;
        justify-content: space-between;
        width: 44%;
        margin: 2% 4%; }
        .four__wrapper .text__info div {
          display: flex;
          align-items: center; }
        @media screen and (max-width: 600px) {
          .four__wrapper .text__info {
            width: 57%;
            margin: 7% 0; } }
      .four__wrapper .text p {
        padding: 4%;
        font-size: 3em;
        width: 125%;
        font-weight: bold;
        font-family: "Lora-Bold"; }
        @media screen and (max-width: 600px) {
          .four__wrapper .text p {
            font-size: 1.1em;
            width: 96%; } }
      .four__wrapper .text .text__tools {
        display: flex;
        justify-content: space-between;
        width: 91%;
        margin: 0 auto; }
        .four__wrapper .text .text__tools .btn {
          background-color: #fcd600;
          width: 20%;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5em;
          border-radius: 50px;
          cursor: pointer;
          margin: 5% 0; }
          @media screen and (max-width: 600px) {
            .four__wrapper .text .text__tools .btn {
              font-size: 1em;
              width: 25%;
              height: 28px; } }
        .four__wrapper .text .text__tools .img_bookmark {
          position: absolute;
          bottom: -18px;
          background: url("../images/UI/bookmark_big.svg");
          width: 23px;
          height: 29px;
          background-size: cover;
          cursor: pointer; }
          .four__wrapper .text .text__tools .img_bookmark:hover {
            background: url("../images/UI/bookmark_active.svg");
            width: 23px;
            height: 29px;
            background-size: cover; }
      @media screen and (max-width: 600px) {
        .four__wrapper .text {
          width: 90%; } }
      .four__wrapper .text .text__tools .img_bookmark {
        right: 20px; }

.five {
  background-color: #f1edec;
  margin: 2% 0; }
  .five .container {
    width: 86%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 600px) {
      .five .container {
        flex-wrap: wrap; } }
    .five .container__block {
      width: 30%; }
      @media screen and (max-width: 600px) {
        .five .container__block {
          width: 100%; } }
      .five .container__block .img img {
        width: 100%; }
      .five .container__block .info {
        display: flex;
        justify-content: space-between;
        margin: 4% 0; }
        .five .container__block .info div {
          display: flex;
          align-items: center; }
        .five .container__block .info .img_bookmark {
          position: relative;
          top: -34px;
          right: 25px;
          background: url("../images/UI/bookmark_big.svg");
          width: 23px;
          height: 29px;
          cursor: pointer;
          background-size: cover; }
          @media screen and (max-width: 600px) {
            .five .container__block .info .img_bookmark {
              top: -27px;
              right: 25px;
              width: 23px;
              height: 29px; } }
          .five .container__block .info .img_bookmark:hover {
            background: url("../images/UI/bookmark_active.svg");
            width: 23px;
            height: 29px;
            background-size: cover; }
      .five .container__block p {
        font-size: 1.6em;
        font-weight: bold;
        width: 74%;
        font-family: "Lora-Bold"; }
        @media screen and (max-width: 600px) {
          .five .container__block p {
            width: 87%;
            font-size: 1.2em; } }

@media screen and (max-width: 600px) {
  .six {
    margin: 33% 0; } }

.six .wrapper {
  display: flex;
  padding: 7%;
  direction: rtl; }
  @media screen and (max-width: 600px) {
    .six .wrapper {
      flex-direction: column;
      padding: 0; } }
  .six .wrapper .photo {
    width: 50%;
    border-bottom: 3px solid red; }
    @media screen and (max-width: 600px) {
      .six .wrapper .photo {
        width: 100%; } }
    .six .wrapper .photo img {
      width: 100%;
      height: 100%; }
  .six .wrapper .content-block {
    width: 42%;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 600px) {
      .six .wrapper .content-block {
        width: 90%;
        position: relative;
        margin: -9% auto; } }
    .six .wrapper .content-block__title {
      align-self: flex-end;
      color: #fcd600; }
      @media screen and (max-width: 600px) {
        .six .wrapper .content-block__title {
          position: absolute;
          top: -90%;
          left: 0; } }
    .six .wrapper .content-block .text {
      border: 2px solid black;
      background: white;
      position: relative; }
      .six .wrapper .content-block .text__info {
        display: flex;
        justify-content: space-between;
        width: 44%;
        margin: 2% 4%; }
        .six .wrapper .content-block .text__info div {
          display: flex;
          align-items: center; }
        @media screen and (max-width: 600px) {
          .six .wrapper .content-block .text__info {
            width: 57%;
            margin: 7% 0; } }
      .six .wrapper .content-block .text p {
        padding: 4%;
        font-size: 3em;
        width: 125%;
        font-weight: bold;
        font-family: "Lora-Bold"; }
        @media screen and (max-width: 600px) {
          .six .wrapper .content-block .text p {
            font-size: 1.1em;
            width: 96%; } }
      .six .wrapper .content-block .text .text__tools {
        display: flex;
        justify-content: space-between;
        width: 91%;
        margin: 0 auto; }
        .six .wrapper .content-block .text .text__tools .btn {
          background-color: #fcd600;
          width: 20%;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5em;
          border-radius: 50px;
          cursor: pointer;
          margin: 5% 0; }
          @media screen and (max-width: 600px) {
            .six .wrapper .content-block .text .text__tools .btn {
              font-size: 1em;
              width: 25%;
              height: 28px; } }
        .six .wrapper .content-block .text .text__tools .img_bookmark {
          position: absolute;
          bottom: -18px;
          background: url("../images/UI/bookmark_big.svg");
          width: 23px;
          height: 29px;
          background-size: cover;
          cursor: pointer; }
          .six .wrapper .content-block .text .text__tools .img_bookmark:hover {
            background: url("../images/UI/bookmark_active.svg");
            width: 23px;
            height: 29px;
            background-size: cover; }
      @media screen and (max-width: 600px) {
        .six .wrapper .content-block .text {
          margin: 0; } }
  .six .wrapper .content-block .text {
    margin: 0 -7% -4% 0; }
    @media screen and (max-width: 600px) {
      .six .wrapper .content-block .text {
        margin: 0; } }
    .six .wrapper .content-block .text__info {
      direction: ltr; }
    .six .wrapper .content-block .text__tools .img_bookmark {
      left: 20px; }

footer {
  margin-top: 5%;
  background: #f1edec; }
  footer .wrapper {
    width: 86%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 600px) {
      footer .wrapper {
        flex-direction: column; } }
    footer .wrapper .mail {
      flex-basis: 35%; }
      @media screen and (max-width: 600px) {
        footer .wrapper .mail {
          margin: 10% 0; } }
      footer .wrapper .mail h3 {
        margin-top: 7%;
        color: grey; }
      footer .wrapper .mail__form {
        width: 80%;
        margin-top: 5%;
        border-bottom: 1px solid black;
        padding: 2% 0;
        display: flex;
        justify-content: space-between; }
        footer .wrapper .mail__form input {
          background-color: #f1edec;
          border: none;
          font-size: 1.2em; }
    footer .wrapper .social {
      flex-basis: 35%; }
      @media screen and (max-width: 600px) {
        footer .wrapper .social {
          margin: 10% 0; } }
      footer .wrapper .social h3 {
        margin-top: 7%;
        color: grey; }
      footer .wrapper .social__img {
        display: flex;
        margin-top: 5%; }
        footer .wrapper .social__img img {
          margin-right: 5%; }
    footer .wrapper .description {
      flex-basis: 30%;
      line-height: 30px;
      margin: 3% 0;
      color: grey;
      text-align: justify; }
